<div class="row" style="margin-left: auto">

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.client) }}
         {{ form_widget(form.client) }}
         {{ form_errors(form.client) }}

      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.agence) }}
         {{ form_widget(form.agence) }}
         {{ form_errors(form.agence) }}

      </div>
   </div>

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.libellepret) }}
         {{ form_widget(form.libellepret) }}
         {{ form_errors(form.libellepret) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.datepret) }}
         {{ form_widget(form.datepret) }}
         {{ form_errors(form.datepret) }}

      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
        {# {{ form_label(form.avancepret) }}
         {{ form_widget(form.avancepret) }}
         {{ form_errors(form.avancepret) }}#}
      </div>
      <div class="col-md-5 offset-2">

      </div>
   </div>
   {#<div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.nbmaxappoint) }}
         {{ form_widget(form.nbmaxappoint) }}
         {{ form_errors(form.nbmaxappoint) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.dateinscr) }}
         {{ form_widget(form.dateinscr) }}
         {{ form_errors(form.dateinscr) }}

      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.actif) }}
         {{ form_widget(form.actif) }}
         {{ form_errors(form.actif) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.note) }}
         {{ form_widget(form.note) }}
         {{ form_errors(form.note) }}

      </div>
   </div>#}



</div>
