{% extends 'opeation/operation.html.twig' %}

{% block content %}

    {#{% block body %}#}
<div class="col-lg-10">

    <h1>Détail de l'opération</h1>

    <table class="table-bordered table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ operation.id }}</td>
        </tr>

        <tr>
            <th>Date operation</th>
            <td>{{ operation.dateop ? operation.dateop | date('d-M-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Numero operation</th>
            <td>{{ operation.numop }}</td>
        </tr>
        <tr>
            <th>Agence</th>
            <td>{{ operation.agence }}</td>
        </tr>

        <tr>
            <th>Tontine</th>
            <td>{{ operation.tontine}}</td>
        </tr>
        <tr>
            <th>Numero pièce</th>
            <td>{{ operation.numpiece}}</td>
        </tr>

        <tr>
            <th>libelle d'operation</th>
            <td>{{ operation.libelleop}}</td>
        </tr>

        <tr>
            <th>montant operation</th>
            <td>{{ operation.montantop }}</td>
        </tr>

        <tr>
            <th>reference pièce </th>
            <td>{{ operation.refpiece }}</td>
        </tr>
            <th>genere</th>
            <td>{{ operation.genere }}</td>
        </tr>

        <tr>
            <th>date de comptabilisation</th>
            <td>{{ operation.datecomptabilisation ? operation.datecomptabilisation | date('d-M-Y') : ''}}</td>
        </tr>

        {#<tr>
            <th>CreatedOn</th>
            <td>{{ categorie.createdOn ? categorie.createdOn|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>EditedOn</th>
            <td>{{ categorie.editedOn ? categorie.editedOn|date('Y-m-d H:i:s') : '' }}</td>
        </tr>#}
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-default col-md-3" href="{{ path('operation_index') }}">
            <i class="fa fa-chevron-left"></i>
            Retour à la liste
        </a>


        <a class="btn btn-primary col-md-2 offset-6" href="{{ path('compte_modification', { 'slug': compte.slug}) }}">
            <i class="fa fa-pencil"></i>
            Modifier
        </a>

    </div>
</div>


{#{% block title %}Client{% endblock %}#}

{#{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}#}
{% endblock %}


