<a style="cursor: pointer"  data-toggle="modal" data-target="#{{ operation.slug}}">
    <i style="font-size: 20px" class="fa fa-eye "></i>
</a>

<!-- Modal -->
<div class="modal fade " id="{{ operation.slug}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: #000000">
    <div class="modal-dialog modal-lg" role="document"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Détails de l'opération</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table" style="background-color: #868e96">
                    <tbody>
                    <div class="col-xs-6 col-md-3 col-md-offset-9">
                        {#'~produit.slug~'.'~produit.url
                value="{{ asset('uploads/images/produits/'~ chapitre.slug~'.pdf') }}#}
                    </div>
                    <tr>
                        <th>Id</th>
                        <td>{{ operation.id }}</td>
                    </tr>

                    <tr>
                        <th>Date d'opération</th>
                        <td>{{ operation.dateop ? operation.dateop | date('d-M-Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Numéro d'opération</th>
                        <td>{{ operation.numop }}</td>
                    </tr>
                    <tr>
                        <th>Agence</th>
                        <td>{{ operation.agence }}</td>
                    </tr>

                    <tr>
                        <th>Compte</th>
                        <td>{{ operation.compte}}</td>
                    </tr>
                    <tr>
                        <th>Numéro de pièce</th>
                        <td>{{ operation.numpiece}}</td>
                    </tr>

                    <tr>
                        <th>Libellé d'opération</th>
                        <td>{{ operation.libelleop}}</td>
                    </tr>

                    <tr>
                        <th>Montant d'opération</th>
                        <td>{{ operation.montantop }}</td>
                    </tr>

                    <tr>
                        <th>Réference de la pièce </th>
                        <td>{{ operation.refpiece }}</td>
                    </tr>

                    <tr>
                    <th>Génere</th>
                    <td>{{ operation.genere }}</td>
                    </tr>

                    <tr>
                        <th>Date de comptabilisation</th>
                        <td>{{ operation.datecomptabilisation ? operation.datecomptabilisation | date('d-M-Y') : ''}}</td>
                    </tr>

                    {# <tr>
                         <th>Enregistré le</th>
                         <td>
                             {{ fournisseur.createdOn ? fournisseur.createdOn |date('d-m-Y H:i:s') : ''  }} <br>
                             Par {{ fournisseur.createdBy }}
                         </td>
                     </tr>
                     <tr>
                         <th>Modifié le </th>
                         <td>
                             {{ fournisseur.editedOn ? fournisseur.createdOn |date('d-m-Y H:i:s') : ''  }} <br>
                             Par {{ fournisseur.editedBy }}
                         </td>
                     </tr>#}

                    </tbody>
                </table>
                <div class="row" >
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-chevron-left"></i>
                        Retour à la liste
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Imprimer</button>
            </div>
        </div>
    </div>
</div>