<div class="row" style="margin-left: auto">

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form_operation.tontine) }}
         {{ form_widget(form_operation.tontine) }}
         {{ form_errors(form_operation.tontine) }}

      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form_operation.nomcomplet) }}
         {{ form_widget(form_operation.nomcomplet) }}
         {{ form_errors(form_operation.nomcomplet) }}

      </div>
   </div>

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form_tontine.meconomie) }}
         {{ form_widget(form_tontine.meconomie) }}
         {{ form_errors(form_tontine.meconomie) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form_tontine.ranglivret) }}
         {{ form_widget(form_tontine.ranglivret) }}
         {{ form_errors(form_tontine.ranglivret) }}

      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form_tontine.numordre) }}
         {{ form_widget(form_tontine.numordre) }}
         {{ form_errors(form_tontine.numordre) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form_tontine.feuillet) }}
         {{ form_widget(form_tontine.feuillet) }}
         {{ form_errors(form_tontine.feuillet) }}
      </div>
   </div>

   <div class="row col-md-12" >
      <div class="col-md-5 offset-1">
         {{ form_label(form_operation.montantop) }}
         {{ form_widget(form_operation.montantop) }}
         {{ form_errors(form_operation.montantop) }}

      </div>
      <div class="col-md-6 offset-1">
         {{ form_label(form_operation.dateop) }}
         {{ form_widget(form_operation.dateop) }}
         {{ form_errors(form_operation.dateop) }}

      </div>
   </div>

   <div class="row col-md-12" >
      <div class="col-md-5 offset-2">
         {{ form_label(form_operation.operant) }}
         {{ form_widget(form_operation.operant) }}
         {{ form_errors(form_operation.operant) }}

      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form_operation.note) }}
         {{ form_widget(form_operation.note) }}
         {{ form_errors(form_operation.note) }}

      </div>
   </div>



</div>
