{% for operation_tontine in operation_tontines %}
    <tr>
        <td>{{ operation_tontine.compte.numcomp }}</td>
        <td>{{ operation_tontine.libelleop }}</td>
        <td>{{ operation_tontine.dateop | date('d/m/Y H:m') }}</td>
        <td>{{ operation_tontine.montantop | number_format(0,0,' ') }}</td>
        <td>{{ operation_tontine.sens  }}</td>
        <td>{{ operation_tontine.client }}</td>
        <td></td>
        <td>
            {#{% include('operation_tontine/viewmodal.html.twig') %}#}
        </td>
    </tr>
{% endfor %}