<a style="cursor: pointer"  data-toggle="modal" data-target="#{{ operation_tontine.id }}">
    <i style="font-size: 20px" class="fa fa-eye "></i>
</a>

<!-- Modal -->
<div class="modal fade " id="{{ operation_tontine.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: #000000">
    <div class="modal-dialog modal-lg" role="document"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Détails operation_tontine</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table" style="background-color: #868e96">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ operation_tontine.id }}</td>
                    </tr>
                    <tr>
                        <th>Référence</th>
                        <td>{{ operation_tontine.reflivret }}</td>
                    </tr>
                    <tr>
                        <th>Montant Economie</th>
                        <td>{{ operation_tontine.meconomie }}</td>
                    </tr>
                    <tr>
                        <th>Nombre feuillets</th>
                        <td>{{ operation_tontine.nbfeuillet }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ operation_tontine.note }}</td>
                    </tr>
                    <tr>
                        <th>Etat</th>
                        <td>{{ operation_tontine.actif ? 'Actif' : 'Non actif' }}</td>
                    </tr>

                    <tr>
                        <th>Enregistré le</th>
                        <td>
                            {{ operation_tontine.createdOn ? operation_tontine.createdOn |date('d/m/Y H:i:s') : ''  }} <br>
                            Par {{ operation_tontine.createdBy }}
                        </td>
                    </tr>

                    <tr>
                        <th>Modifié le</th>
                        <td>
                            {{ operation_tontine.editedOn ? operation_tontine.editedOn |date('d/m/Y H:i:s') : ''  }} <br>
                            Par {{ operation_tontine.editedBy }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row" >
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                        <i class="fa fa-chevron-left"></i>
                        Retour à la liste
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                {#<button type="button" class="btn btn-primary">Imprimer</button>#}
            </div>
        </div>
    </div>
</div>