<div class="row" style="margin-left: auto">

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.denomination) }}
         {{ form_widget(form.denomination) }}
         {{ form_errors(form.denomination) }}

      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.rccm) }}
         {{ form_widget(form.rccm) }}
         {{ form_errors(form.rccm) }}

      </div>
   </div>

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.ifu) }}
         {{ form_widget(form.ifu) }}
         {{ form_errors(form.ifu) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.datecreation) }}
         {{ form_widget(form.datecreation) }}
         {{ form_errors(form.datecreation) }}
      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.telephone) }}
         {{ form_widget(form.telephone) }}
         {{ form_errors(form.telephone) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.email) }}
         {{ form_widget(form.email) }}
         {{ form_errors(form.email) }}
      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.adresse) }}
         {{ form_widget(form.adresse) }}
         {{ form_errors(form.adresse) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.ville) }}
         {{ form_widget(form.ville) }}
         {{ form_errors(form.ville) }}
      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.devise) }}
         {{ form_widget(form.devise) }}
         {{ form_errors(form.devise) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.file) }}
         {{ form_widget(form.file) }}
         {{ form_errors(form.file) }}
      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.actif) }}
         {{ form_widget(form.actif) }}
         {{ form_errors(form.actif) }}
      </div>
      <div class="col-md-5 offset-2">
      </div>
   </div>

</div>
