<div class="row" style="margin-left: auto">

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.departement) }}
         {{ form_widget(form.departement) }}
         {{ form_errors(form.departement) }}

      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.libelle) }}
         {{ form_widget(form.libelle) }}
         {{ form_errors(form.libelle) }}

      </div>
   </div>

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.description) }}
         {{ form_widget(form.description) }}
         {{ form_errors(form.description) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.actif) }}
         {{ form_widget(form.actif) }}
         {{ form_errors(form.actif) }}

      </div>
   </div>

</div>
