{% for compte in comptes %}
    <tr>
        <td>{{ compte.numcomp }}</td>

        <td><a href="{{ path('compte_modification',{'slug': compte.slug}) }}">
                {{ compte.intitule }}
            </a>
        </td>
        <td>{{ compte.client }}</td>
        <td>{{ compte.type }}</td>
        <td>{{ compte.solde | number_format(0,0,' ')~' '~compte.devis}}</td>
        <td>{{ compte.actif ? 'ouvert' : 'fermé' }}</td>
        <td>
            {% include('compte/viewmodal.html.twig') %}
        </td>
    </tr>
{% endfor %}