{% extends 'compte/compte.html.twig' %}

{% block content %}

    {#{% block body %}#}
<div class="col-lg-10">

    <h1>Détails du compte</h1>

    <table class="table-bordered table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ compte.id }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>{{ compte.client }}</td>
        </tr>
        <tr>
            <th>Agence</th>
            <td>{{ compte.agence }}</td>
        </tr>

        <tr>
            <th>Numéro de compte</th>
            <td>{{ compte.numcomp}}</td>
        </tr>
        <tr>
            <th>Intitule</th>
            <td>{{ compte.intitule}}</td>
        </tr>

        <tr>
            <th>Débit</th>
            <td>{{ compte.cpcmd}}</td>
        </tr>

        {#<tr>
            <th>cpasld</th>
            <td>{{ compte.cpasld }}</td>
        </tr>

        <tr>
            <th>cpasldj </th>
            <td>{{ compte.cpasldj }}</td>#}
        <tr>
            <th>Crédit</th>
            <td>{{ compte.cpcmc }}</td>
        </tr>

        {#<tr>
            <th>cpnbmvt</th>
            <td>{{ compte.cpnbmvt}}</td>
        </tr>
#}        <tr>
            <th>cpdtder</th>
            <td>{{ compte.cpdtder ? compte.cpdtder | date('d-M-Y') : ''}}</td>
        </tr>
        <tr>
            <th>Date comptable</th>
            <td>{{ compte.datecompt ? compte.datecompt | date('d-M-Y') : ''}}</td>
        </tr>

       {# <tr>
            <th>mheure</th>
            <td>{{ compte.mheure ? compte.mheure | date('d-M-Y') : '' }}</td>
        </tr>#}

        <tr>
            <th>annexe</th>
            <td>{{ compte.annexo }}</td>
        </tr>

        {#<tr>
            <th>CreatedOn</th>
            <td>{{ categorie.createdOn ? categorie.createdOn|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>EditedOn</th>
            <td>{{ categorie.editedOn ? categorie.editedOn|date('Y-m-d H:i:s') : '' }}</td>
        </tr>#}
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-default col-md-3" href="{{ path('compte_index') }}">
            <i class="fa fa-chevron-left"></i>
            Retour à la liste
        </a>


        <a class="btn btn-primary col-md-2 offset-6" href="{{ path('compte_modification', { 'slug': compte.slug}) }}">
            <i class="fa fa-pencil"></i>
            Modifier
        </a>

    </div>
</div>


{#{% block title %}Client{% endblock %}#}

{#{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}#}
{% endblock %}


