<a style="cursor: pointer"  data-toggle="modal" data-target="#{{ compte.slug}}">
    <i style="font-size: 20px" class="fa fa-eye "></i>
</a>

<!-- Modal -->
<div class="modal fade " id="{{ compte.slug}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: #000000">
    <div class="modal-dialog modal-lg" role="document"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Détails du compte</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table" style="background-color: #868e96">
                    <tbody>
                    <div class="col-xs-6 col-md-3 col-md-offset-9">
                        {#'~produit.slug~'.'~produit.url
                value="{{ asset('uploads/images/produits/'~ chapitre.slug~'.pdf') }}#}
                    </div>
                    <tr>
                        <th>Id</th>
                        <td>{{ compte.id }}</td>
                    </tr>
                    <tr>
                        <th>Client</th>
                        <td>{{ compte.client }}</td>
                    </tr>
                    <tr>
                        <th>Agence</th>
                        <td>{{ compte.agence }}</td>
                    </tr>

                    <tr>
                        <th>Numero de compte</th>
                        <td>{{ compte.numcomp}}</td>
                    </tr>
                    <tr>
                        <th>Intitule</th>
                        <td>{{ compte.intitule}}</td>
                    </tr>

                    <tr>
                        <th>Cpcmd</th>
                        <td>{{ compte.cpcmd}}</td>
                    </tr>
                    <tr>
                        <th>cpasld</th>
                        <td>{{ compte.cpasld }}</td>
                    </tr>

                    <tr>
                        <th>cpasld</th>
                        <td>{{ compte.cpasldj }}</td>
                    </tr>
                    <tr>
                        <th>cpcmc</th>
                        <td>{{ compte.cpcmc }}</td>
                    </tr>

                    <tr>
                        <th>cpnbmvt</th>
                        <td>{{ compte.cpnbmvt}}</td>
                    </tr>
                    <tr>
                        <th>cpdtder</th>
                        <td>{{ compte.cpdtder ? compte.cpdtder | date('d-M-Y') : ''}}</td>
                    </tr>
                    <tr>
                        <th>mdate</th>
                        <td>{{ compte.mdate ? compte.mdate | date('d-M-Y') : ''}}</td>
                    </tr>

                    <tr>
                        <th>mheure</th>
                        <td>{{ compte.mheure ? compte.mheure | date('d-M-Y') : ''}} }}</td>
                    </tr>

                    <tr>
                        <th>annexe</th>
                        <td>{{ compte.annexo }}</td>
                    </tr>

                    {# <tr>
                         <th>Enregistré le</th>
                         <td>
                             {{ fournisseur.createdOn ? fournisseur.createdOn |date('d-m-Y H:i:s') : ''  }} <br>
                             Par {{ fournisseur.createdBy }}
                         </td>
                     </tr>
                     <tr>
                         <th>Modifié le </th>
                         <td>
                             {{ fournisseur.editedOn ? fournisseur.createdOn |date('d-m-Y H:i:s') : ''  }} <br>
                             Par {{ fournisseur.editedBy }}
                         </td>
                     </tr>#}

                    </tbody>
                </table>
                <div class="row" >
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-chevron-left"></i>
                        Retour à la liste
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Imprimer</button>
            </div>
        </div>
    </div>
</div>