<a style="cursor: pointer"  data-toggle="modal" data-target="#{{ compte.id }}">
    <i style="font-size: 20px" class="fa fa-eye "></i>
</a>

<!-- Modal -->
<div class="modal fade " id="{{ compte.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: #000000">
    <div class="modal-dialog modal-lg" role="document"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Détails compte</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table" style="background-color: #868e96">
                    <tbody>
                    <tr>
                        <th>N° de compte</th>
                        <td>{{ compte.numcomp}}</td>
                    </tr>
                    <tr>
                        <th>Client</th>
                        <td>{{ compte.client }}</td>
                    </tr>
                    <tr>
                        <th>Intitulé</th>
                        <td>{{ compte.intitule}}</td>
                    </tr>
                    <tr>
                        <th>Débit</th>
                        <td>{{ compte.cpcmd }}</td>
                    </tr>
                    <tr>
                        <th>Crédit</th>
                        <td>{{ compte.cpcmc }}</td>
                    </tr>

                    <tr>
                        <th>Solde</th>
                        <td>{{ compte.solde}}</td>
                    </tr>
                    <tr>
                        <th>Date dernière opération</th>
                        <td>{{ compte.derniereop ? compte.derniereop | date('d-M-Y') : 'Jamais'}}</td>
                    </tr>

                    <tr>
                        <th>Date Comptable</th>
                        <td>{{ compte.datecompt ? compte.datecompt | date('d-M-Y') : ''}}</td>
                    </tr>

                    <tr>
                        <th>annexe</th>
                        <td>{{ compte.annexo }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row" >
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                        <i class="fa fa-chevron-left"></i>
                        Retour à la liste
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                {#<button type="button" class="btn btn-primary">Imprimer</button>#}
            </div>
        </div>
    </div>
</div>