{% extends 'zone/zone.html.twig' %}


{% block content %}
    {# bouton new #}
    <div class="col-md-10" style="background-color: #cccccc">
        <h1> Ajout d'un nouveau client</h1>

        {{ form_start(form) }}

        {{ include('zone/_form.html.twig') }}
        <hr>
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('zone_index') }}" class="btn btn-default">
                    <i class="fa fa-chevron-left"></i>
                    Retour à la Liste
                </a>
            </div>
            <div class="col-md-2 offset-7">
                <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                {{ form_end(form) }}
            </div>

        </div>
        <hr>
    </div>

{% endblock %}
