{#{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}#}
<hr>
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.codeagence) }}
        {{ form_widget(form.codeagence) }}
        {{ form_errors(form.codeagence) }}



    </div>
    <div class="col-md-5 offset-2">
        {{ form_label(form.libelle) }}
        {{ form_widget(form.libelle) }}
        {{ form_errors(form.libelle) }}

    </div>


</div>

