<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Listing</title>
    <style>
        td{ border: 1px solid black}
        table{ text-align: center}
    </style>
</head>
<body>

<p> LISTING DES APPOINTEMENTS</p>

<div class="row">
    <table width="100%">
        <thead>
        <tr>
            <td width="3%">N°</td>
            <td width="6%">Période</td>
            <td width="8%">Date</td>
            <td width="8%">Compte</td>
            <td width="20%">Description</td>
            <td width="7%">Débit</td>
            <td width="7%">Crédit</td>
            <td width="8%">Solde</td>
            <td width="16%">Client</td>
            <td width="16%">Agent</td>
        </tr>
        </thead>
        <tbody>
        {% for operationTontine in operationTontines %}
            <tr>
                <td width="3%">{{ loop.index }}</td>
                <td width="6%">{{ operationTontine.periode }}</td>
                <td width="8%">{{ operationTontine.datecomptabilisation | date ('d/m/Y') }}</td>
                <td width="8%">{{ operationTontine.numcomp }}</td>
                <td width="20%">{{ operationTontine.libelleop }}</td>
                <td width="7%">{{ operationTontine.debit }}</td>
                <td width="7%">{{ operationTontine.credit }}</td>
                <td width="8%">{{ operationTontine.solde }}</td>
                <td width="16%">{{ operationTontine.client }}</td>
                <td width="16%">{{ operationTontine.agent }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

</div>

</body>
</html>