<div class="row" style="margin-left: auto">

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.client) }}
         {{ form_widget(form.client)}}
         {{ form_errors(form.client) }}

      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.compte) }}
         {{ form_widget(form.compte)}}
         {{ form_errors(form.compte) }}

      </div>
   </div>

   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.meconomie) }}
         {% if solde is defined and solde is not same as (0) %}
         {{ form_widget(form.meconomie, {'attr': {'readonly':'readonly'}})}}
         {% else %}
         {{ form_widget(form.meconomie)}}
         {% endif %}
         {{ form_errors(form.meconomie) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.ranglivret) }}
         {{ form_widget(form.ranglivret) }}
         {{ form_errors(form.ranglivret) }}

      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.reflivret) }}
         {{ form_widget(form.reflivret) }}
         {{ form_errors(form.reflivret) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.nbfeuillet) }}
         {{ form_widget(form.nbfeuillet)}}
         {{ form_errors(form.nbfeuillet) }}
      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.nbmaxappoint) }}

            {{ form_widget(form.nbmaxappoint)}}

         {{ form_errors(form.nbmaxappoint) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.dateinscr) }}
         {{ form_widget(form.dateinscr) }}
         {{ form_errors(form.dateinscr) }}

      </div>
   </div>
   <div class="row col-md-12" >
      <div class="col-md-5 ">
         {{ form_label(form.actif) }}
         {{ form_widget(form.actif) }}
         {{ form_errors(form.actif) }}
      </div>
      <div class="col-md-5 offset-2">
         {{ form_label(form.note) }}
         {{ form_widget(form.note) }}
         {{ form_errors(form.note) }}

      </div>
   </div>



</div>
