{% extends 'tontine/tontine.html.twig' %}

{% block content %}

    {#{% block body %}#}
<div class="col-lg-10">

    <h1>Détail tontine</h1>

    <table class="table-bordered table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tontine.id }}</td>
        </tr>
        <tr>
            <th>Numéro tontine</th>
            <td>{{ tontine.numton }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>{{ tontine.client }}</td>
        </tr>

        <tr>
            <th>Agence</th>
            <td>{{ tontine.agence}}</td>
        </tr>
        <tr>
            <th>compte</th>
            <td>{{ tontine.compte}}</td>
        </tr>

        <tr>
            <th>Economie</th>
            <td>{{ tontine.meconomie}}</td>
        </tr>
        <tr>
            <th>Numero d'ordre</th>
            <td>{{ tontine.numordre }}</td>
        </tr>
        <tr>
            <th>Date d'inscription</th>
            <td>{{ tontine.dateinscr ? tontine.dateinscr | date('d-M-Y') : ''}}</td>
        </tr>

        <tr>
            <th>Numero livret</th>
            <td>{{ tontine.numlivret}}</td>
        </tr>
        <tr>
            <th>Nombre de mois</th>
            <td>{{ tontine.nbmois }}</td>
        </tr>
        <tr>
            <th>remboursement</th>
            <td>{{ tontine.remboursement }}</td>
        </tr>

        <tr>
            <th>Avance</th>
            <td>{{ tontine.avance}}</td>
        </tr>
        <tr>
            <th>interet</th>
            <td>{{ tontine.interet }}</td>
        </tr>
        <tr>
            <th>montant de credit</th>
            <td>{{ tontine.mcredit }}</td>
        </tr>

        <tr>
            <th>feuillet</th>
            <td>{{ tontine.feuillet}}</td>
        </tr>
        <tr>
            <th>fin de feuillet</th>
            <td>{{ tontine.finfeuillet }}</td>
        </tr>

        <tr>
            <th>Nombre appoint </th>
            <td>{{ tontine.nbmaxappoint}}</td>
        </tr>
        <tr>
            <th>dateraappoint</th>
            <td>{{ tontine.dateraappoint ? tontine.dateraappoint | date('d-M-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Numero credit en cours</th>
            <td>{{ tontine.numcreditencours }}</td>
        </tr>

        {#<tr>
            <th>CreatedOn</th>
            <td>{{ categorie.createdOn ? categorie.createdOn|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>EditedOn</th>
            <td>{{ categorie.editedOn ? categorie.editedOn|date('Y-m-d H:i:s') : '' }}</td>
        </tr>#}
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-default col-md-3" href="{{ path('tontine_index') }}">
            <i class="fa fa-chevron-left"></i>
            Retour à la liste
        </a>


        <a class="btn btn-primary col-md-2 offset-6" href="{{ path('tontine_modification', { 'id': tontine.id}) }}">
            <i class="fa fa-pencil"></i>
            Modifier
        </a>

    </div>
</div>


{#{% block title %}Client{% endblock %}#}

{#{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}#}
{% endblock %}


