<a type="button" class="btn  btn-danger" data-toggle="modal" data-target="#{{ periode.id }}">
    <i class="fa fa-trash-o"></i>
    Supprimer
</a>

<!-- Modal -->
<div class="modal fade " id="{{ periode.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: #000000">
    <div class="modal-dialog modal-lg" role="document"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Suppression periode</h4>
            </div>
            <div class="modal-body">
                <h2>Supprimer le periode </h2>

                    <h5> Etes-vous certain de vouloir supprimer ce periode " <em style="color: red">{{ periode.libelle }}</em>" ? </h5>

                <form method="post" action="{{ path('periode_delete', {'id': periode.id}) }}" {#onsubmit="return confirm('Are you sure you want to delete this item?');"#}>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ periode.id) }}">
                    <button class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        Supprimer
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>